{% extends 'header.html' %}

{% block content %}
<br>
<div class="row">
    <form method="POST" action="{% url 'index' %}" class="col s12">
        {% csrf_token %}
        <div class="row">
        <div class="input-field col s6">
                <input placeholder="To-Do" id="to_do" name="to_do" type="text" class="validate">
                <label for="to_do">ToDo:</label>
            </div>
            <div class="col s6">
                <button type="submit" class="waves-effect waves-light btn #4caf50 green" style="margin: 15px;"><i class="material-icons left">check</i>Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <h5>To-Do List: </h5>
    <table class="highlight">
        <thead>
            <tr>
                <th>ID</th>
                <th>ToDo</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for l in list %}
            <tbody>
                <tr>
                    <td>{{ l.pk }}</td>
                    <td>{{ l.text }}</td>
                    <td>
                        <a id="editTodo" href="/edit/?id={{ l.pk }}" class="waves-effect waves-light btn #f9a825 yellow darken-3"><i class="material-icons left">edit</i>Edit</a>
                        <a id="deleteTodo" href="/delete/?id={{ l.pk }}" class="waves-effect waves-light btn #c62828 red darken-3"><i class="material-icons left">delete</i>Delete</a>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}